/* You can add any additional global styles here if needed */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global performance optimizations */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use GPU acceleration for certain animations with improved visibility */
.transform,
.transition-transform,
.transition,
.transition-all,
.transition-opacity {
  will-change: transform;
  backface-visibility: hidden;
}

/* Optimize for scrolling performance */
.overflow-auto {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

/* Optimize tooltips without translating Z */
[class*="z-"] {
  backface-visibility: hidden;
}